body { padding-top: 88px; }

.author{
    padding: 20px;
    width: 200px;
    height: 200px;
}

.author-header{
    padding: 10px;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1a;
    font-size: 1.5rem;
}

#contact-email{
    font-weight: 600;
    font-size: 1.5rem;
}